<%- include("nav")%>

    <div class="card mt-3">
        <div class="card-header info">
            QUẢN LÝ LOẠI HÀNG
        </div>
        <div class="card-body">
            <form action="/editcat" method="post" enctype="multipart/form-data">
                <%for (let e of ed){%>
                    <input type="text" value="<%=e.cataId%>" name="id" hidden>
                <div class="form-group">
                    <label for="">Loại sản phẩm</label>
                    <input type="text" name="tencata" class="form-control " placeholder="Loại sản phẩm" value="<%=e.loai%>">
                </div>
                <div class="form-group">
                    <label for="">Ẩn hiện</label>
                    <div class="form-check">
                        <input type="radio" name="anhien" class="form-check-input" value="0">
                        <label class="form-check-label" for="exampleRadios1">Ẩn</label>
                    </div>

                    <div class="form-check">
                        <input type="radio" name="anhien" class="form-check-input" value="1">
                        <label class="form-check-label" for="exampleRadios1">Hiện</label>
                    </div>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Lưu</button>

                </div>
                <%}%>
            </form>
        </div>

    </div>
    <%- include("foot")%>