<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="frt">
            <div class="home">
                <i class="fas fa-home"></i>
                HOME:Phần mềm Quang Trung ,Quận 12,TpHCM
            </div>
            <div class="box-info">
                <div class="info">
                    <i class="fas fa-clock"></i>
                    Open 2-6: 7am-10pm
                </div>
                <div class="info">
                    <i class="fas fa-envelope"></i>
                    tienlnps12361@fpt.edu.vn
                </div>
                <div class="info">
                    <i class="fas fa-arrow-right"></i>
                    Đăng nhập
                </div>
            </div>
        </div>
        <div id="navbar">
        <div class="secd">
            <img src="../images/logo.png" alt="">
            <div class="box-info2">
                <div class="info2">
                    <i class="fas fa-phone-volume bounce"></i>
                    Phone:0949814865
                </div>
                <div class="info2">
                    <a href="/cart">
                        Giỏ hàng
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
                <div class="info2">
                    <a href=""><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="thd">
            <ul>
                <li>
                    <a href="/" style=" color: #ff5440;">Trang chủ</a>
                    <a href="">Giới thiệu</a>
                    <a href="/product">Cửa hàng</a>
                    <a href="">Tin tức</a>
                    <a href="">Liên hệ</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <article class="product">
        <div class="crumbs">
            <a href="/">
                <p> Trang chủ </p>
            </a>
            <p>/</p>
            <p style="color: black;"> Chi tiết</p>
        </div>
    </article>
      

    <input type="text" id="proId" hidden value="<%= proId%>">
    <div id="dt"></div>
    <script>
                var id = document.querySelector('#proId').value;
                var url = `http://localhost:3000/detaildata/${id}`;
                axios.get(url)
                    .then(function (response) {
                        // console.log(response);
                        let str = "";
                        for (i in response.data) {
                            let motuser = response.data[i];
                            console.log(motuser);
                            str+='<div class="detail">';
                            str+=' <img src="../images/'+motuser.images+'" alt="">';
                            str+=' <h1 class="detail-name">'+motuser.proname+'</h1>';
                            str+='<h1 class="detail-price"> Giá gốc: <del>'+motuser.price+ 'VNĐ</del> </h1>';
                            str+=' <h1 class="detail-price"> Giá sale :' +motuser.saleprice+ 'VNĐ </h1>';
                            str+=' <p class="detail-de">'+motuser.mota+'</p>';
                            str+=' <a href="#" onclick="add_cart()" class="buy-btn">';
                                str+='<span>Mua hàng</span>';
                            str+='</a >';
                            str+='</div>';
                        }//for    
                        document.getElementById("dt").innerHTML += str;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            </script>

    <aside>
        <h1>Sản phẩm giảm giá</h1>
        <div id="a"></div>
        <script>
            var url = "http://localhost:3000/maindata3/";
            axios.get(url)
                .then(function (response) {
                    // console.log(response);
                    let str = "";
                    for (i in response.data) {
                        let motuser = response.data[i];
                        console.log(motuser);
                        str+=' <div class="aside-pro">';
                        str+=' <img src="../images/'+motuser.images+'" alt="">';
                        str+=' <p><del>'+motuser.price+ 'VNĐ</del>' +motuser.saleprice+ 'VNĐ</p>';
                        str+='  <a href="/dt/'+motuser.proId+'" class="view">Xem ngay</a>';
                        str+='</div>';
                    }//for    
                    document.getElementById("a").innerHTML += str;
                })
                .catch(function (error) {
                    console.log(error);
                });

        </script>

    </aside>

    <section class="mar">
        <hr>
        <h1>Sản phẩm phổ biến</h1>

        <div class="pro" id="hot">
        
        <script>
            var url = "http://localhost:3000/maindata2/";
            axios.get(url)
                .then(function (response) {
                    // console.log(response);
                    let str = "";
                    for (i in response.data) {
                        let motuser = response.data[i];
                        console.log(motuser);
                     
                        str += "<div class='box-pro'>";
                        str += ' <a href="" style="text-decoration: none;">';
                        str += ' <div class="on-buy">';
                        str += ' <a href="/dt/' + motuser.proId + '" style= "text-decoration: none;">';
                        str += '<img src="../images/' + motuser.images + '"alt=""';
                        str += '</a>';
                        str += ' <div class="mg"></div>';
                        str += ' <h2>' + motuser.proname + '</h2>';
                        str += "<h2 style='color: #ffca44;'>" + motuser.saleprice + ' vnđ' + "</h2>";
                        str += ' <a onclick="add_cart()" href="#" class="buy-btn">';
                        str += '   <span>Giỏ hàng</span>';
                        str += ' </a>';
                        str += '</div>';
                        str += '</a>';
                        str += "</div>";
                        
                    }//for    
                    document.getElementById("hot").innerHTML += str;
                })
                .catch(function (error) {
                    console.log(error);
                });
        </script>



        </div>
    </section>
   
    <footer>
        <div class="ctn">
            <div class="foot-ctn">
                <img src="images/logo.png" alt="">
                <p> Đăng ký để nhận được thông tin mới nhất từ chúng tôi</p>
                <input type="text" placeholder="Email...">
            </div>
            <div class="foot-ctn">
                <h1>Liên hệ</h1>
                <p>Địa chỉ: Phần mềm Quang Trung , Quận 12, TpHCM</p>
                <p>Email: tienlnps12361@fpt.edu.vn</p>
    
            </div>
            <div class="foot-ctn">
                <h1>Hỗ trợ</h1>
                <p>FAQ</p>
                <p>Chăm sóc khách hàng</p>
                <p>Vận chuyển và đổi trả hàng</p>
                <p>Liên hệ</p>
    
            </div>
            <div class="foot-ctn">
                <h1>Thông tin</h1>
                <p>Nội dung và hình ảnh bài viết trên trang petmart.vn và petmart.info đã được đăng ký bản quyền Digital
                    Millennium
                    Copyright Act (DMCA) theo tiêu chuẩn Creative Commons Attribution-NoDerivs 3.0 Unported License. Vui
                    lòng dẫn link nguồn
                    khi sao chép các bài viết trên trang này.
                    2021 © CÔNG TY PET MART VIỆT NAM - Giấy phép ĐKKD số 0106683363</p>
            </div>
        </div>
    </footer>
</body>
<script>

    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {

        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
        
    }
      function add_cart() {
            if (!sessionStorage.cart) {
                var item = [];
            } else {
                item = JSON.parse(sessionStorage.cart);
            }
            let a = { id : id };
            item.push(a);
            window.sessionStorage.cart = JSON.stringify(item);
        }
    
</script>